<main class="index">
    <header class="masthread d-flex">
        <video src="/img/background-links.mp4" autoplay muted loop id="back-video"></video>
        <div class="container text-center my-auto">
            <h1 class="mb-1">Favorite Links</h1>
            <h3 class="mb-5">
                <em>Store your favorite links</em>
            </h3>
            <a href="/signin" class="btn btn-primary">
                Get Started
            </a>
        </div>
    </header>
</main>